input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    background: url('../img/icons/Message.svg') no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}
input {
    border: 1px solid $cloudy-blue;
    &:not([type='checkbox']) {
        height: 46px;   
    }    
}
select {
    border: 1px solid $cloudy-blue !important;
}