header {
    border: 1px solid;
    width: 100%;
    max-width: 1440px;
    margin: 18px 150px 0;
    display: flex;
    flex-direction: column;
    .logo-button {
        @include flex(space-between, center)
    }
    .steps {
        border: 1px;
        background: $ice-blue;
        margin: 25px 0 46px;
        padding: 25px 0px 45px;
        display: flex;
        position: relative;
        justify-content: center;
        .step {
            @include flex(flex-start, center);
            position: relative;
            width: 17%;
            a {
                @include flex(flex-start, center);
                span {
                    @include flex(center, center);
                    //media
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: $ice-blue;
                    border: 1px solid #6F6C94;
                }
                p {
                    position: absolute;
                    top: 45px;
                    color: $dark-indigo;
                }
                .completed { left: -23px;}
            }
            .a-after {
                 //media
                width: 100%;
                height: 1px;
                background-color:  #6F6C94;
            }
        }
        .completed-step {
            a {
                span {
                    background: $dark-seafoam-green;
                    color: $white;
                    border-color: $dark-seafoam-green;
                }
                p {
                    color: $dark-seafoam-green;
                    font-family: $primary-semibold;
                }
            } 
        }
        .active-step {
            a {
                span {
                    background: $dark-indigo; 
                    color: $white;
                }
                p {
                    color: $dark-indigo;
                    font-family: $primary-semibold;
                }
            }
        }
    }
}
